
* {
    padding: 0;
}

.landing {
    width: 100%;
    height: 100%;
    background-color: var(--app-primary-bg-color);
    color: white;
    font-family: var(--app-primary-text-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.landing-container {
    margin: auto;
    width: 80vw;
    height: fit-content;

}

.lights {
    position: absolute;
    width: 680px;
    height: 680px;
    border-radius: 50%;
    filter: blur(306px);
    z-index: 0;
}

.top-light {
    top: -330px;
    left: 55px;
    background-color: var(--app-primary-color);
}

.middle-light {
    top: 540px;
    left: 1140px;
    background: var(--app-secondary-color);
}

.bottom-light {
    top: 1770px;
    left: -390px;
    background: var(--app-secondary-color);
}

.landing-page {
    background-color: red;
    width: 34vw;
    height: 100vh;
}

#footer-gradient {
    background: var(--app-landing-footer-gradient);
    width:100%;
    height: 10px;
    margin-top:1rem;
}