.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.8px);
    z-index: 5;
}

.modal-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    display: flex;
    border-radius: 10px;
    z-index: 10;
    border: 1px solid transparent;
}

.img-section {
    width: 50%; 
    height: 100%; 
    position: relative;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-section img {
    width: 100%; 
    height: 100%;
    object-fit:cover;
}


.data-section {
    background-color: #13124F    ;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.title{
    background-color: blue;
    font-size:3.2rem; 
    color:#ffff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 5rem;
    background-color: yellow;
}

.sub-title{
    font-size:2.9rem; 
    color:#ABD9D9;
    font-weight: bold;
    margin-bottom: 3rem;
    min-width: 500px;
    background-color: green;
}

.text{
    color: #FFFFFF;
    opacity: 70%;
    margin-bottom: 6rem;
    font-size: 1.1rem;
    background-color: green;
}

.form-group{
    background-color: red;
    margin-bottom: 3rem;
}

.form-group label{
    background-color: aqua;
    color: #ABD9D9;
    min-width: 210px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.form-group input{
    background-color: red;
    background-color: transparent;
    border: 1px solid #ABD9D9;
    border-radius: 10px;
    margin-bottom: 1.8rem;
    padding: 0.5rem 9rem;
    color: grey;
}