canvas {
    display: block;
    margin: 0 auto;
    background-color: #13124F;
    border-radius: 20px;
    border: 4px solid #FFFFFF;
    width: 100%;
    min-height: 400px;
}

.pongtainer {
    width: 80%;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.background-pause {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 6px;
    display: grid;
    place-items: center;
}

.info-mid span {
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.player-icon img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.player-icon span {
    font-size: 26px;
    font-weight: bold;
}

.score-board {
    top: 4rem;
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
    width: 20rem;
}

.score {
    width: 80px;
    font-size: 4.5rem;
    opacity: 0.85;
    text-align: center;
}

.btn-game {
    border: 3px solid #ffffff81;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--app-primary-bg-color);
    color: var(--app-secondary-color);
    transition: all 0.3s;
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.btn-game i {
    margin-left: 5px;
}

.btn-game:hover{
    background-color: var(--app-secondary-bg-color);
}


@media screen and (max-width: 1140px) {
    .player-icon span {
        display: none;
    }
}

@media screen and (max-width: 1068px) {
    .info-mid span {
        font-size: 40px;
    }
    .score-board span {
        font-size: 40px;
    }

    .btn-game {
        width: 40px;
        height: 40px;
        font-size: 30px;
    }
}