.img-streak{
    width: 10rem;
}

.number-streak{
    font-size: 3.6rem;
    position: absolute;
    -webkit-text-stroke: 3px black; /* Borde de 2px de grosor de color negro */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 45%;
    left: 35%;
}


.text-streak{
    position: absolute;
    top: 77%;
    left: 65%;
    font-size: 1.8rem;
    text-shadow: -2px -2px 0 #000,  2px -2px 0 #000,-2px  2px 0 #000,2px  2px 0 #000;
    display: inline-block;
}

.margin-left{
    margin-left:8vw;
}



@media (max-width: 1250px) {
    .margin-left{
        margin-left: 0;
    }
}