.data-section {
    position: absolute;
    top: 0;
    left: 0%;
    background-color: #13124F;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    will-change: scroll-position;
}

.scroll-container{
    overflow-y:scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

#register-btn{
    width: 100%;
    height: 65px;
}

#login-btn{
    width: 100%;
    height: 65px;
}

#close-modal{
    position: fixed;
}

.text{
    color: #FFFFFF;
    opacity: 70%;
    font-size: 16px;
    opacity: 70%;
}


@media (max-width: 1000px) {

    .small-btns{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .data-section {
        left: 0%;
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }
}

@media (max-width: 550px) {
    .text{
        font-size: 15px;
        min-width: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .small-btns{
        flex-direction: column;
    }
}