.settings-sidebar {
    left: 25%;
    width: 400px;
    height: 600px;
    font-size: 1.2rem;
    transform: translateY(-50%);
    background-color: var(--app-secondary-bg-color);
    z-index: 1000;
}

i {
    font-size: 1.6rem !important;
    color: var(--app-secondary-color);
}

.options-settings div {
    cursor: pointer;
}

.options-settings div:hover {
    background-color: rgba(171, 217, 217, 0.25);
    border-radius: 10px;
    transition: background-color .4s ease-in-out;
}

.selected span {
    color: #8DBEDA !important;
}
