
.searchbar {
    font-family: Roboto;
    width: 80%;
}

.search-icon {
    left: 15px;
}

#input-control, #input-control:focus {
    background-color: #13124F;
    border-color: #ABD9D9;
    font-size: 1rem;
}

#input-control::placeholder, #input-control:focus, #input-control:hover, .search-icon {
    color: white;
}

#input-control::placeholder {
    font-style: italic;
    opacity: 60%;
}