.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(0.8px);
    z-index: 4;

}

.modal-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 57%;
    height: 75%;
    z-index: 5;
    animation: fadeIn 1s ease-in-out;
}

.img-section {
    width: 100%; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;    
    border-radius: 20px;
    background-image: url('src/resources/paddle.jpg');
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 800px) {

    .modal-form {
        width: 75%;
        transform: translate(-50%, -50%);
    }
}