.sidebar {
    height: 100vh;
    width: 300px;
    margin: 0;
    background-color: #13124F;
    font-weight: 500;
    color: white;
    position: fixed;
    padding: 10px;
    transition: all .4s ease;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
}

.head i {
    font-size: 30px;
    color: #8D8DDA;
    cursor: pointer;
}

.head img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid #8D8DDA;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    margin-right: 10px;
}

.options div {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.options div:hover {
    background-color: #8D8DDA;
    opacity: 0.25;
    transition: all .4s ease-in-out;
}

.options div.active {
    color: #8DBEDA;
}

.options i {
    font-size: 1.4rem;
    margin-right: 10px;
    color: #8D8DDA;
}

/* Modificaciones al cerrar el menu */

.sidebar.active {
    width: 70px;
    transition: all .4s ease;
}

.sidebar.active .option, .sidebar.active .profile {
    display: none;
}

.sidebar.active .head i {
    margin: auto;
}

div.content {
    margin-left: 300px;
    padding: 20px;
    height: 100vh;
    border: 1px solid red;
}

/* Modificaciones para hacerlo responsive */

@media screen and (max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar .option, .sidebar .profile {
        display: none;
    }

    .sidebar .head i {
        margin: auto;
    }

    .sidebar.active {
        width: 300px;
    }

    .sidebar.active .option, .sidebar.active .profile {
        display: flex;
    }

    div.content {
        margin-left: 70px;
    }

}