.parent{
    margin: auto;
    height: 100vh;
    background-color: var(--app-primary-bg-color);
    overflow: hidden;
    display: grid;
    place-items: center;
}

.card{
    background-color: var(--app-secondary-bg-color);
    border-radius: 20px;
    height: 85%; 
    width:50%
}


.form-group{
    position: relative;
    font-size: 1.2rem;
}

.form-group label{
    position: absolute;
    top: -45px;
    left: 0;
    color: var(--app-secondary-color);
    min-width: 210px;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.form-group input{
    background-color: transparent;
    border: 1px solid var(--app-secondary-color);
    border-radius: 10px;
    padding: 0.7rem 7rem;
    padding-left: 25px;
    color: grey;
}

.form-group input:focus {
    outline: none;
}


@media (max-width: 868px) {
    .card {
        height: 80%;
        width: 80%;
        padding: 10px;
    }

    .form-group{
        margin-bottom: 2rem;
    }

    .form-group label {
        top: -30px;
        left: 30px;
        font-size: 0.8rem;
    }

    .form-group input {
        padding: 0.5rem 2rem;
    }
}
