.light1{
    position: absolute;
    top: -15%;
    left: 0%;
    width: 1000px;
    height:1000px;
    background: radial-gradient(circle, rgba(152, 166, 243, 0.845) 0%, rgba(255, 255, 255, 0) 65%);
}

.light2 {
    position: absolute;
    top: 14%;
    left: 72%;
    width: 1000px;
    height:1000px;
    background: radial-gradient(circle, rgba(118, 204, 214, 0.896) 0%, rgba(255, 255, 255, 0) 70%);
}


/*Echar un ojo el responsive*/
.light3 {
    position: absolute;
    top: 44%;
    left: -30%;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(circle, rgb(118, 204, 214) 0%, rgba(255, 255, 255, 0) 70%);
} 


