.tittle{
    color: #ffff;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.big-tittle{
    padding-bottom: 1rem;
    color: #ffff;;
    font-size: 4rem;
    line-height: 0.9;
}