#footer-text {
    margin-top: 7rem;
    font-family: var(--app-secondary-text-font);
    text-transform: capitalize;
    font-size: 14px;
}

#footer-text a {
    text-decoration: none;
    color: white;
}