.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #13124F;
    border-radius: 20px;
    border: 4px solid #FFFFFF;
    width: 100%;
    min-height: 400px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.background-pause{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 6px;
    display: grid;
    place-items: center;
}

.info-board {
    position: absolute;
    width: 100%;
    top: -95px;
}

.info-mid span {
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.player-icon img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.player-icon span {
    font-size: 26px;
    font-weight: bold;
}

.score-board {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: 48px;
    color: #FFFFFF;
    height: 100px;
    font-weight: bold;
    letter-spacing: 6px;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    display: flex;
}

.score {
    width: 80px;
    font-size: 70px;
    opacity: 0.85;
    text-align: center;
}

.btn-game{
    border: 3px solid #ffffff81;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--app-primary-bg-color);
    color: var(--app-secondary-color);
    transition: all 0.3s;
}

.btn-game:hover{
    background-color: var(--app-secondary-bg-color);
}

.pause{
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.play{
    width:110px; 
    height:110px; 
    font-size:75px;
}

.play i{
    margin-left: 5px;
}

@media screen and (max-width: 1140px) {
    .player-icon span {
        display: none;
    }
}

@media screen and (max-width: 1068px) {
    .info-mid span {
        font-size: 40px;
    }
    .score-board span {
        font-size: 40px;
    }

    .pause{
        width: 40px;
        height: 40px;
        font-size: 30px;
    }

    .play{
        width:70px; 
        height:70px; 
        font-size:45px;
    }
}