
.language-btn {
    background-color: transparent;
    border: 1px solid #ABD9D9;
    border-radius: 5px;
    color: rgb(129, 126, 126);
    display: flex; 
    padding: 0.01rem 3rem;
    padding-left: 1rem; /** ???? */
    position: relative;
    text-align: left; 
}